.social-network {
    position: absolute;
    display: block;
    width: 35px;
    padding: 5px 0px;
	border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
}

.twitter {
	margin-top: -80px;
	background-color:#1da1f2;
}

.instagram {
	margin-top: -40px;
	background-color:#0095f6;
}

.box-2 {
	width: 200px;
    margin: 0px auto;
}