* {
	padding:0px;
	margin:0px;
}
.text-center {
	text-align:center;
}
.w-770 {
	width:770px;
}
.p-20 {
	padding:20px;
}
.h-50 {
	height:50px;
}
.pt-15 {
	padding-top:15px;
}
.clear {
	clear:both;
}
.w-1213 {
	width:1213px
}
.h-500 {
	height:500px;
}
.mt-10 {
	margin-top:10px;
}
.pt-200 {
	padding-top:200px;
}
.w-200 {
	width:200px;
}
.ml-10 {
	margin-left:10px;
}
.f-left {
	float:left;
}
.w-660 {
	width:660px;
}
.mr-20 {
	margin-right:20px;
}
.h-440 {
	height: 440px;
}
.w-1920 {
	width:1920px;
	margin:0px auto;
}
.pt-170 {
	padding-top:170px;
}
.w-300 {
	width:300px;
}
.photo-row {
	display:inline-block;
}
.h-400 {
	height:400px;
}
.w-377 {
	width:377px
}
.pt-30 {
	padding-top:30px;
}
.pt-300 {
	padding-top:300px;
}
.h-130 {
	height:130px;
}
.pt-50 {
	padding-top:50px;
}