*{
	margin:0px;
	padding:0px;
}
.container {
	width: 940px;
	margin: 0px auto;
}
.mt-20 {
	margin-top:20px;
}
.my-table {
	border-collapse:collapse;
}
.side-table {
	background-color: #E15F4E;
	width: 200px;
	padding: 15px 30px;
	color: white;
	border-bottom: 1px solid #D35443;
}
.top-table {
	background-color: #2B3336;
	color: white;
	width: 200px;
	padding: 15px 30px;
}
.top-table-border {
	border-right:1px solid #000000;
	border-left:1px solid #000000;
}
.mid-table {
	background-color: #EAEAEA;
	text-align: center;
	border-bottom:1px solid #D9D9D9;
}
.mid-table-border {
	border-right:1px solid #D9D9D9;
	border-left:1px solid #D9D9D9;
}
a {	
	text-decoration: none;
	color: white;
	background-color: #E15F4E;
	padding: 10px;
}