.bc-color-grey {
	background-color:#333333
}
.text-color-white {
	color:white;
}
.text-color-grey {
	color:#8797A4;
}
.bc-color-dark-yellow {
	background-color:#979A33;
}
.bc-color-dark-red {
	background-color:#993235;
}
.bc-color-green {
	background-color:#359869;
}
.bc-color-blue {
	background-color:#006599;
}
.bc-color-orange {
	background-color:#CD9933;
}
